/*Caroline's Glow*/

body {
	font-family: 'Josefin Sans', sans-serif; 
	background-color: black;
}

#wrapper {
	min-height: 100%;
	margin-bottom: -70px;
    
}

header {
	font-family: 'Lobster', cursive; 
	text-align: center; 
	font-size: 36pt; 
	color: white;
}

#nav_bar { 
	width: 1100px; 
	margin: 0 auto; 
	border-radius: 5px;
	height:20px;
}

#nav_text {
	color: white;
}
.social_media {
	width: 18px;
	height: auto;
	margin: 0px 0px 0px 5px;
}

.top_link_right {
	float:right;
}

a:link    {
	color:white; 
	background-color:transparent; 
	text-decoration:none
}

a:visited {
	color:white; 
	background-color:transparent; 
	text-decoration:none
}

a:hover   {
	color:#d45d7d; 
	background-color:transparent; 
	text-decoration:none
}

a:active  {
	color:#d45d7d; 
	background-color:transparent; 
	text-decoration:underline
}

#search_bar {
	margin: 5px;
	float:right; 
	width:200px;
	height:30px;
	background-color:white;
	border-radius: 5px;
}


.search {
 	padding: 9px 38px;
    background:rgba(255, 255, 255, 0.2);
    border:0px solid #ffffff;
    letter-spacing: 1px;
}
/*main navigation bar start*/
#main-content-bar {
	height: 40px;
	width: 1100px;
	margin: 0 auto;
	margin-bottom: 15px;
	background-color: hotpink;
}

/*#main-content-nav {
	margin-top: 1px;
	font-size:20pt;
	padding: 10px 0px 15px 10px;
	width: 60%;
	float:left;
	letter-spacing: 1px;
}*/

/*.main_link {
	padding: 5px 20px 0px 20px;
}*/
#main-nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 13px 16px 11px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: silver;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #d45d7d}

.dropdown:hover .dropdown-content {
    display: block;
}

#main_body_of_page {
	width: 1100px;
	background-color: black;
	margin: 0 auto;
}	
#cssSlider {
  width: 1100px;
	height: auto;
	overflow: hidden;
	border: 0px solid #666;
	margin: 0 auto;
	margin-bottom: 15px;
}

#sliderImages {
	width : 5500px;
	height: 593px;
	overflow: hidden;
	
	/* animation duration: 16s : 5x ~3s display image + 5x ~0.2s slide */
	animation: slide 16s infinite;
	-moz-animation: slide 16s infinite;
	-webkit-animation: slide 16s infinite;
	-o-animation: slide 16s infinite;
}

#sliderImages img {
	float: left;
}

@keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -1100px;}
	37%{margin-left: -1100px;}
	40%{margin-left: -2200px;}
	57%{margin-left: -2200px;}
	60%{margin-left: -3300px;}
	77%{margin-left: -3300px;}
	80%{margin-left: -4400px;}
	97%{margin-left: -4400px;}
	100%{margin-left: 0px;}
}

@-moz-keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -1100px;}
	37%{margin-left: -1100px;}
	40%{margin-left: -2200px;}
	57%{margin-left: -2200px;}
	60%{margin-left: -3300px;}
	77%{margin-left: -3300px;}
	80%{margin-left: -4400px;}
	100%{margin-left: -4400px;}
}

@-webkit-keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -1100px;}
	37%{margin-left: -1100px;}
	40%{margin-left: -2200px;}
	57%{margin-left: -2200px;}
	60%{margin-left: -3300px;}
	77%{margin-left: -3300px;}
	80%{margin-left: -4400px;}
	100%{margin-left: -4400px;}
}

@-o-keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -1100px;}
	37%{margin-left: -1100px;}
	40%{margin-left: -2200px;}
	57%{margin-left: -2200px;}
	60%{margin-left: -3300px;}
	77%{margin-left: -3300px;}
	80%{margin-left: -4400px;}
	100%{margin-left: -4400px;}
}

#product_area {
	width: 100%;
	text-align: center;
	color:white;
}

#main-face {
	display:inline-block;
	width:33.05%;
	height:373px;
	background-color:black;
	vertical-align:top;
}

#main-eyes {
	display:inline-block;
	width:33.05%;
	height:373px;
	background-color:black;
	vertical-align: top
}

#main-lips {
	display: inline-block;
	width:33.05%;
	height:373px;
	background-color:black;
	vertical-align: top;
}

.sections-img {
	max-width: 100%;
	height: auto;
}

.text_for_cats {
	display: inline-block;
	width: 33.03%;
	height: 60px;
	background-color: hotpink;
	margin: 0px 0px 0px 0px;
	letter-spacing: 1px;
}

#mailing_and_new {
	width: 100%;
	margin: 10px 0px 0px 0px;
	text-align: center;
}

#mailing-list {
	height:200px;
	width:30%;
	background-color: hotpink;
	padding: 15px 20px 20px 20px;
	margin: 0px 0px 10px 0px;
	float:left;
}

.input {
  display: flex;
  align-items: center;
}

input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}

.button {
  height: 44px;
  border: none;
}
  
#email {
  width: 75%;
  background: #FDFCFB;
  font-family: 'josefin sans', sans-serif;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#submit {
  width: 25%;
  height: 46px;
  background: #E86C8D;
  font-family: 'josefin sans', sans-serif;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
} 
.hidden {
	display:none;
}
#submit:hover {
  background: #d45d7d;
}

#new-content {
	width:62%;
	height:200px;
	float:right;
	background-color:hotpink;
	padding: 5px 20px 30px 20px;
	margin: 0px 0px 10px 0px;
}

.whatsnew-img {
	max-width: 20%;
	height: auto;
	border: 5px solid black;
	margin: 10px 10px 10px 10px;
}

#footer {
	clear:both;
	width: 1100px;
	height: 70px;
	background-color: silver;
	margin: 0 auto;
}

#wrapper:after {
  content: "";
  display: block;
  height:10px;
}

.footer-text-1 {
	padding: 10px 5px 0px 5px;
	text-align: center;
}

.footer-text-2 {
	padding:0px 5px 0px 0px;
	text-align: center;
	font-size: 11px;
}

.footer-text-3 {
	text-align: left;
	color: lightblue;
	font-size: 24px;
} 
/* 
table header should be blue
*/
