body {
	background-color: lightblue;
}

.important {
	color:red;
}

.awesomeJames {
	background-color:lightgray;
}

.awesomeJames p {
	color:orange;
	background-color: purple;
	font-family: helvetica;
	font-size: 20px;
}

.awesomeJames 