/*0.02_css_ids.css
body {
	background-color: lightgray;
}*/

#number-one {
	color:red;
	font-family: sans-serif;
}

#number-two {
	font-size: 24px;
}
.first-class {
	font-size: 24px;
	background-color: blue;
	color: red;

}

.second-class {
	font-family: sans-serif;
}